@import 'variables';


.profile{
  background-color: $darkModeText;
  width: 6rem;
  margin: 2rem 0;
  height: 6rem;
  border-radius: 50%;
  @include flexdiv(row, center, center);
  color: $accentColor1;
  h3{
    font-size: 3rem;
  }
  transition: all .25s ease-in-out;
    &:hover{
        background-color: $accentColor1;
        color: $darkModeText;
    }
}



.dashboard--wrapper{
    background-color: $lightModeBackground;
    min-height: 100vh;
    padding: 4rem 0;
  .dashboard{
    color: $lightModeText;

    &__title{
      text-align: center;
    }

    &--content{
      .dashboard__secondary{
        @include flexdiv(column, flex-start, center);
        margin-bottom: 10rem;
        font-family: 'Source Sans Pro', sans-serif;
        color: $lightModeText;

        &--title{
          font-size: 2.5rem;
          margin-bottom: 5rem;
          text-align: center;
        }

        .addProduct__link{
          color: $lightModeText;
          font-size: 1.75rem;
          
          &:hover{
            color: $accentColor1;
            text-decoration: underline;
          }
        }

      }

      .dashboard__primary{
        //width: 70%;
        //height: 100vh;
        color: $lightModeText;

        &--title{
          font-family: 'Source Sans Pro', sans-serif;
          font-size: 2.5rem;
          text-transform: uppercase;
          text-align: center;
          margin-bottom: 4rem;
        }
        
        &--main{
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          gap: 2rem;
          justify-items: center;
        }

        .btn{
          width: 50%;
          border: none;
          padding: 1rem 0;
        }
        .btn--delete{
          background-color: rgb(252, 53, 53);
          color: $darkModeText;
          width: 50%;
          border: none;
          padding: 1rem 0;
          &:hover{
            background-color: red;
          }
        }
        .btn--update{
          color: $lightModeText;
          background-color: $lightModeBackground;
          width: 50%;
          border: none;
          padding: 1rem 0;
          &:hover{
            color: $lightModeText
          }
        }
      }
    }
  }
}
   


.dashboard--wrapper.dark{
    background-color: $darkModeBackground;
  
  .dashboard{
    color: $lightModeText;

    &__title{
      text-align: center;
    }

    &--content{
      .dashboard__secondary{
        margin-bottom: 10rem;
        font-family: 'Source Sans Pro', sans-serif;
        color: $darkModeText;

        &--title{
          font-size: 2.5rem;
          margin-bottom: 5rem;
          text-align: center;
        }

        .addProduct__link{
          color: $darkModeText;
          font-size: 1.75rem;
          
          &:hover{
            color: $accentColor1;
            text-decoration: underline;
          }
        }

      }

      .dashboard__primary{
        //width: 70%;
        //height: 100vh;
        color: $darkModeText;

        &--title{
          font-family: 'Source Sans Pro', sans-serif;
          font-size: 3.5rem;
          text-transform: uppercase;
          text-align: center;
          margin-bottom: 4rem;
        }
        
        &--main{
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          gap: 2rem;
          justify-items: center;
        }

        .btn{
          width: 50%;
          border: none;
          padding: 1rem 0;
        }
        .btn--delete{
          background-color: rgb(252, 53, 53);
          color: $darkModeText;
          width: 50%;
          border: none;
          padding: 1rem 0;
          &:hover{
            background-color: red;
          }
        }
        .btn--update{
          color: $lightModeText;
          background-color: $lightModeBackground;
          width: 50%;
          border: none;
          padding: 1rem 0;
          &:hover{
            color: $lightModeText
          }
        }
      }
    }
  }
}