@import 'variables';

.header--wrapper{
    background-color: rgb(21, 21, 24);

    .header{
      display: flex;
      justify-content: space-between;
      align-items: center;

      img{
        width: 10rem;
      }

      .nav__list{
        list-style: none;
        display: flex;
        align-items: center;
        gap: 2rem;

        .header--logo{
          border: none;
          border-radius: .5rem;
          background-color: white;
          padding: .5rem 1rem;
          font-family: 'Source Sans Pro', sans-serif;
          font-weight: weight(bold);
        }

        .nav__link{
          text-decoration: none;
          color: white;
          font-size: 1.6rem;
        }

        .themeToggle{
          margin-left: 4rem;

          &--icon{
            color: white;
            font-size: 1.75rem;
          }
        }
      }
    }
  }
  
  
  
  
  
  
  
  
  
  
  
  

  


  