@import 'variables';

.header--wrapper{
    background-color: $lightModeBackgroundAlt;
    .header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: .25rem 0;
      img{
        width: 10rem;
      }

      .nav__list{
        list-style: none;
        display: flex;
        align-items: center;
        gap: 2rem;

        .header--logo{
          border: none;
          border-radius: .5rem;
          padding: .5rem 1rem;
          font-family: 'Source Sans Pro', sans-serif;
          font-weight: weight(bold);
        }

        .nav__link{
          text-decoration: none;
          color: $lightModeText;
          font-size: 1.6rem;
        }

        .themeToggle{
          margin-left: 4rem;

          &--icon{
            color: $lightModeText;
            font-size: 1.75rem;
          }
        }
      }
    }
}

.header--wrapper.dark{
    background-color: $darkModeBackgroundAlt;
    .header{
      padding: 0;
      .nav__list{
        .nav__link{
          color: $darkModeText;
        }
        .themeToggle{
          &--icon{
            color: $darkModeText;
          }
        }
      }
    }
}


    
  
  
  
  
  
  
  
  
  
  
  
  
  

  


  