@import 'variables';

.home--wrapper{
    .search--container{
        background-color: $lightModeBackgroundAlt;
        height: 30rem;
        display: grid;
        place-items: center;
        
        .search{
            @include flexdiv();

            &__img{
                width: 25%;
                background-size: cover;
                background-repeat: no-repeat;
                height: 30rem;
                display: none;
            }

            &__img--left{
                background-image: url('../../public/images/innout-5.png');
                background-position-x: center;
            }
            &__img--right{
                background-image: url('../../public/images/innout-3.png');
                background-position-y: top 3rem;
                background-position-x: left -2.5rem;
            }

            &__form{
                .intro{
                    margin: 2rem 0;
                    text-align: center;
                    color: $lightModeText;
                    font-family: 'Source Sans Pro', sans-serif;

                    h1{
                        font-size: clamp(2rem, 2.5vw, 4rem);
                        span{
                            color: $accentColor1;
                        }
                    }
                    p{
                        font-size: 1.25rem;
                    }
                }
                width: 100%;
                margin: auto;
                input{
                    height: 5rem;
                    border: none;
                    width: 80%;
                    padding: 0 2rem;
                    font-size: 1.4rem;
                    &:focus{
                        border: $accentColor1 solid 2px;
                        outline: none;
                    }
                }
                button{
                    width: 20%;
                    height: 5rem;
                    border: none;
                    background-color: $accentColor1;
    
                    .search__icon{
                        color: $darkModeText;
                        font-size: 1.25rem;
                    }
                }
            }
        }
        
    }

    .home__page--main{
        background-color: $lightModeBackground;
        padding: 4rem 0;
        min-height: 100vh;

        &__title{
            font-family: 'Source Sans Pro', sans-serif;
            color: $lightModeText;
            font-size: 2.5rem;
            text-transform: uppercase;
            text-align: center
        }

        .home__page--products{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            justify-items: center;
            row-gap: 5rem;
            padding: 4rem 0;
        }
    }
}


.home--wrapper.dark{
    .search--container{
        background-color: $darkModeBackground;
        
        .search{

            &__form{
                .intro{
                    color: $darkModeText;
                }
                input{
                    &:focus{
                        border: $accentColor1 solid 2px;
                        outline: none;
                    }
                }
                button{
                    background-color: $accentColor1;
    
                    .search__icon{
                        color: $darkModeText;
                    }
                }
            }
        }
        
    }

    .home__page--main{
        background-color: $darkModeBackgroundAlt;
        &__title{
            color: $darkModeText;
        }
    }
}


