$lightModeText: #000000;
$lightModeBackground: #ffffff;
$lightModeBackgroundAlt: #E9EAED;
$lightModeTextAlt: #0C090A;
$darkModeText: #ffffff;
$darkModeBackground: #0c0c0c;
$darkModeBackgroundAlt:#111111;
$darkModeTextAlt:   #acacac ;
$accentColor2: #582ca8;
$accentColor1: #335dff;
$accentColor3: #fffd00;
$accentColor4: #b32020;
$accentColor5: rgb(16, 128, 62);

$font-weights: (
    'regular': 400,
    'medium': 500,
    'bold': 600,
    'bolder': 400,
);

@function weight($weight-name){
    @return map-get($map: $font-weights, $key: $weight-name);
}


@mixin flexdiv ($direction: row, $justify: flex-start, $align: flex-start, $gap: 1rem ) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}
@mixin gridiv () {
    display: grid;
    place-items: center;
}



// title
// font-family: 'Roboto', sans-serif;


// content
// font-family: 'Source Sans Pro', sans-serif;