@import 'variables';

.single__product--wrapper{
    background-color: $lightModeBackground;
    min-height: 100vh;
    padding: 4rem 0;
    .single__product{
        //@include flexdiv(row, space-between, flex-start);
        &--primary{
            font-family: 'Source Sans Pro', sans-serif;
            color: $lightModeText;
            padding: 4rem;
            @include flexdiv(column, center, center);
            background-color: $lightModeBackgroundAlt;

            &__image{
                display: block;
            }

            h3{
                align-self: flex-start;
                font-size: 2.5rem;
                text-transform: capitalize;
            }

            p{
                text-transform: capitalize;
                font-size: 1.4rem;
                align-self: flex-start
            }
            margin-bottom: 5rem
        }

        &--secondary{
            @include flexdiv(column, 1rem);
            color: $lightModeText;
            font-family: 'Source Sans Pro', sans-serif;

            &__price{
                background-color: $lightModeBackgroundAlt;
                padding: 2rem;
                font-size: 2.5rem;
                color: $lightModeText;
                width: 100%;
            }

            &__supplier{
                @include flexdiv(column, center, center);
                background-color: $lightModeBackgroundAlt;
                padding: 2rem 2rem 5rem 2rem;
                width: 100%;

                h2{
                    font-size: 2.5rem;
                    text-align: center;
                    padding: 1.7rem;
                }

                h4{
                    background-color: $accentColor1;
                    text-align: center;
                    padding: 1rem 2rem;
                    font-size: 2rem;
                    transition: all .4s ease-in-out;
                    cursor: pointer;
                    &:hover{
                        background-color: $darkModeText;
                        color: $accentColor1;
                    }  
                }
            }

            &__item{
                width: 100%;
                @include flexdiv(row, space-between, center);

                .btn{
                    border: none;
                    display: block;
                    width: 50%;
                    gap: 2rem;
                    padding: .5em 1.25em;
                    font-size: 2.5rem;
                    cursor: pointer;
                    text-transform: uppercase;
                    font-family: 'Source Sans Pro', sans-serif;

                    &:hover{
                        opacity: .75;
                    }
                }

                .update{
                    background-color: $accentColor5;
                    color: $darkModeText;
                }
                .delete{
                    background-color: $accentColor4;
                    color: $darkModeText;
                }
            }
        }
    }
}


.single__product--wrapper.dark{
    background-color: $darkModeBackgroundAlt;
    min-height: 100vh;
    padding: 4rem 0;
    .single__product{
        //@include flexdiv(row, space-between, flex-start);
        &--primary{
            font-family: 'Source Sans Pro', sans-serif;
            color: $darkModeText;
            padding: 4rem;
            @include flexdiv(column, center, center);
            background-color: rgba(255, 255, 255, 0.062);

            &__image{
                display: block;
            }

            h3{
                align-self: flex-start;
                font-size: 2.5rem;
                text-transform: capitalize;
            }

            p{
                text-transform: capitalize;
                font-size: 1.4rem;
                align-self: flex-start
            }
            margin-bottom: 5rem
        }

        &--secondary{
            @include flexdiv(column, 1rem);
            color: $darkModeText;
            font-family: 'Source Sans Pro', sans-serif;

            &__price{
                background-color: rgba(255, 255, 255, 0.103);
                padding: 2rem;
                font-size: 2.5rem;
                color: $darkModeText;
                width: 100%;
            }

            &__supplier{
                @include flexdiv(column, center, center);
                background-color: rgba(255, 255, 255, 0.103);
                padding: 2rem;
                width: 100%;

                h2{
                    font-size: 2.5rem;
                    text-align: center;
                    padding: 1.7rem;
                }

                h4{
                    background-color: $accentColor1;
                    text-align: center;
                    padding: 1rem 2rem;
                    font-size: 2rem;
                    transition: all .4s ease-in-out;
                    cursor: pointer;
                    &:hover{
                        background-color: $darkModeText;
                        color: $accentColor1;
                    }  
                }
            }
        }
    }
}